
@media only screen and (max-width: 600px) {
    .customlogomobile{
        width: 26%;
        margin-left: 2%;
    }
    .customlogo{
        display:none;
      }}
    @media only screen and (min-width: 600px) {
        .customlogomobile{
          display:none;
        }}
        

       