.logo{
    width: 200px;
    height: 200px;
    margin-top: -35px;
}
@media only screen and (max-width: 768px) {
    .logo{
        height: 170px;
        margin-top: -40px;
    }
}
@media only screen and (max-width: 500px) {
    .logo{
        height: 140px;
        width: 130px;
        margin-top: -35px;
    }
}