.announcement {
    background: #FFF6EA;
    color: #000;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 1.1rem;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.announcementtext {
    display: flex;
    align-items: center;
    margin-right: 2rem
}

.redText {
    color: #C1121F;
    font-weight: 600;
}

.text1 p {
    margin-right: 2rem;

}

.text2 p:not(:last-child) {
    margin-right: 2rem
}

.text2 p:last-child {
    margin-right: 1rem
}

@media only screen and (max-width: 600px) {
    .announcement{
        display:none
    }
.announcementmobile{    background: #FFF6EA;
    color: #000000;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    font-size: 1rem;}

}
@media only screen and (min-width: 601px) {
    .announcementmobile  {
      display:none
    }
}