@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.h1 {
  font-size: 3vh !important;
}
body {
  color: rgb(var(--foreground-rgb));
  background: #212529 !important;
}
body > main > div.form_mobileslider___Z15U > div.ant-steps.ant-steps-horizontal.form_stepsvertical__fHrPe.css-dev-only-do-not-override-1tdx742.ant-steps-label-horizontal > div:nth-child(2) > div > div.ant-steps-item-content > div{
  color:white;
}
body > main > div.form_mobileslider___Z15U > div.ant-steps.ant-steps-horizontal.form_stepsvertical__fHrPe.css-dev-only-do-not-override-1tdx742.ant-steps-label-horizontal > div:nth-child(3) > div > div.ant-steps-item-content > div{
  color:white;
}
body > main > div.form_mobileslider___Z15U > div.ant-steps.ant-steps-horizontal.form_stepsvertical__fHrPe.css-dev-only-do-not-override-1tdx742.ant-steps-label-horizontal > div:nth-child(2) > div > div.ant-steps-item-icon > span{
  color:#212529;
}
body > main > div.form_mobileslider___Z15U > div.ant-steps.ant-steps-horizontal.form_stepsvertical__fHrPe.css-dev-only-do-not-override-1tdx742.ant-steps-label-horizontal > div:nth-child(2) > div > div.ant-steps-item-icon{
  background-color: #788082;
  border: none;
}
body > main > div.form_mobileslider___Z15U > div.ant-steps.ant-steps-horizontal.form_stepsvertical__fHrPe.css-dev-only-do-not-override-1tdx742.ant-steps-label-horizontal > div:nth-child(3) > div > div.ant-steps-item-icon{
  background-color: #788082;
  border: none;
}