@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:ital,wght@0,500;1,400&display=swap');

.container{
    margin:  0;
    overflow: hidden;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .movingDiv {
    background:linear-gradient(100deg, rgba(208, 45, 12, 0.75) 0%, rgba(217, 217, 217, 0.00) 100%);
    margin-top: 50px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20%;
    left: -80px;
    border-radius: 48% 52% 52% 48% / 45% 48% 52% 55% ;
  }
  .sCmovingDiv{
    background:linear-gradient(-90deg, rgba(208, 45, 12, 0.75) 0%, rgba(217, 217, 217, 0.00) 100%);
    overflow: hidden;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 68%;
    float: right;
    right: 0px;
    border-radius: 48% 52% 52% 48% / 45% 48% 52% 55% ;
  }
  .title{
    background: -webkit-linear-gradient( #917f78,#c6bfc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
margin-bottom: 25px;
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-size: 4.2vw;
font-style: normal;
font-weight: 700;
line-height: 142.023%; 
text-transform: uppercase;
  }
.image{
  top: 40%;
}
.contactSection{
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .sCmovingDiv{
    width: 120px;
    height: 120px;
    right: -20px;
    top: 60%;
  }
  .title{
    font-size: 6vw;
  }
  .movingDiv {
    background:linear-gradient(100deg, rgba(208, 45, 12, 0.75) 0%, rgba(217, 217, 217, 0.00) 100%);
    margin-top: 50px;
    width: 100px;
    height: 100px;
    top: 30%;
    left: -35px;
  }
}